:root {
    --default-fz: 16px;
    --default-lh: 1.6;
    --default-color-fz: #000;
    --default-fw: 400;
    --grid-padding: 15px;
    --auth-pages-bc: #2563EB;
    --register-pages-bc: #2563EB;
    --overlay-auth: #fff;
    --button-signIn: #2563EB;
    --hover-btn-auth: #4240a5;
}